<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container border border-secondary rounded">

    <div>
        <img th:src="@{/images/mediscreen.jpg}" class="img-fluid col-4"  >
    </div>


    <div class="d-flex justify-content-center">
        <h2 ><u>Welcome on Mediscreen</u></h2>
        <img th:src="@{/images/croix.jpg}" class="img-fluid col-1"  >
    </div>


    <div class="d-flex justify-content-around mt-5">

            <div class="d-flex flex-column " >
                <img th:src="@{/images/loupe.jpg}" class="rounded mx-auto d-block mb-3" >
                <a class="btn btn-danger btn-lg text-white" th:href="@{/patient/search}" >Find a patient</a>
            </div>

            <div class="d-flex flex-column">
                <img th:src="@{/images/ajouter.jpg}" class="rounded mx-auto d-block mb-3" >
                <a class="btn btn-danger btn-lg text-white" th:href="@{/patient/add}" >Register a new patient</a>
            </div>

            <div class="d-flex flex-column">
                <img th:src="@{/images/lister.jpg}" class="rounded mx-auto d-block mb-3">
                <a class="btn btn-danger btn-lg text-white" th:href="@{/patient/list}" >All patients</a>
            </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>

</body>
</html>